
<!--<script src="https://code.jquery.com/jquery-1.10.2.js" type="text/javascript"></script>-->
<script type="text/javascript">

    var username = "{{ site.github_username }}";

    var dataLoaded = false;
    function fn1() {

        $.getScript('/static/js/git_info.js',function(){
            $("#github-projects").getRepositories(username);
        }).always(function () {
            dataLoaded = true;
        });

        document.write("<span id=\"loading_msg\">Querying GitHub for " + username + "'s repositories & Chronologically Sorting Results...</span>");

    }

    fn1();

    var cnt = 0;
    var wait_period = 2000;
    while ( !dataLoaded && cnt < 1) {
        function _wait() {
            cnt += 1;
            setTimeout(re_check, wait_period)
        }
        function re_check() {
            if (
                dataLoaded
                && $("#github-projects").text()!=""
                && $("#github-projects").text().indexOf("Querying GitHub for")<0
                && document.readyState == "complete"
                && document.getElementById("hidden_content_end")
            ) {
                $.getScript('/static/js/git_info.js',function(){
                    $("#sorted-github-projects").sortRepositories("#github-projects");
                }).always(function () {
                    document.getElementById("loading_msg").innerHTML = "";
                });
            } else {
                setTimeout(re_check, wait_period);
            }
        }
        _wait();
    }

</script>


<div id="projects" class="row">
    <div class="col-sm">
        <div class="post-area">
            <div class="post-list-body">
                <div id="loading_message"></div>
                <div id="all-posts" post-cate="All">
                    <div id="github-projects" style="display: none;"></div>
                    <div id="sorted-github-projects"></div>
                </div>
            </div>
        </div>
    </div>
</div>

