---
layout: default
---
<div class="row">
    <div id="myArticle" class="col-sm-9">
        <div class="post-area post">
            <header>
                <h1>{{ page.title }}</h1>

                <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} •
                    {{ page.meta }}{% endif %}</p>
            </header>
            <hr>
            <article>
                {{content}}
            </article>
        </div>
    </div>
    {% if page.comments %}
    <div class="post-area post comment">
        <!--<div class="ds-thread"-->
             <!--data-thread-key="{{ page.id }}"-->
             <!--data-title="{{ page.title }}"-->
             <!--data-url="{{ site.baseurl }}{{ page.url }}"></div>-->
             {% include disqus.html %}
    </div>
    {% endif %}
    <div id="content" class="col-sm-3">
        <!-- <div id="myAffix" class="shadow-bottom-center hidden-xs" data-spy="affix" data-offset-top="0" data-offset-bottom="-20"> -->
        <div id="myAffix"
             class="shadow-bottom-center hidden-xs">
            <div class="categories-list-header">
                Content
            </div>
            <div class="content-text"></div>
        </div>
    </div>
</div>